<?xml version='1.0' encoding='utf-8'?>
<widget id="com.taynaradb.appdesenho" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Canvas</name>
    <description>Canva para desenhar</description>
    <author email="taynaradb@hotmail.com" href="github.com/taynaradb">
        Taynara Barboza
    </author>
    <icon src="res/canva.png" />

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
